header {
  padding: 156px 0 100px;
}

section {
  padding: 150px 0;
}

h1,
h1 a {
  color: #fff;

}


.fa {
  color: #FF6600;
  padding: 20px;
  font-size: 30px;
  width: 30px;
  float: initial;
}


.text-left {
  float: left;
  padding: 0px 0px !important;

}
div.col-md-auto{
  padding: 0px 0px !important;

}
.text-right {
  float: right;
  padding: 0px 0px !important;
  margin: 0pxs;
}

header {
  background-color: #FF6600;
}


.bg-dark {
  background-color: #464646;
}

#about {
  background: #FFFFFA;
}

#abilities {
  background: #5B605F;
}

#world {
  background: #FFFFFA;
}

#contact {
  background: #5B605F;
}

img {
  align-items: center;
  padding: 0px 0px !important;

}

.text-orange {
  color: #FF6600;
}

.iconPadding {
  padding: 0;
}
.iconPadding:hover {
  color: #FFFFFA;
  padding: 0;
}

.p-1 {
  color: #FFFFFA;
  padding: 0px 5px 0px 5px !important;
}

.p-2 {
  color: #FFFFFA;
  padding: 0px !important;
}
.typewrite:hover{
  color: #FFFFFA;
}
/* Color Theme Swatches in Hex */

/*

#FFFFFA 

#A1A194

#5B605F 

#464646

#FF6600